   * {
       margin: 0;
       padding: 0;
       /*zera o preenchimento*/
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       /*fonte padrão p toda página*/
       list-style: none;
       /*remove os estilos das listas*/
   }

   /* cabeçalho */
   header {
       background-color: #fdfac7;
       /*cor do fundo*/
       padding: 15px;
       /*tira as barrinhas e dxa em "tela cheia"*/
       display: flex;
       /*dxa os ngc do lado*/
       justify-content: space-between;
       /*justifica o conteúdo*/
       align-items: center;
       /*alinhamento da vertical, deixando no centro*/
   }

   /* estilização da imagem */
   header img {
       width: 100px;
       /*largura*/
       height: auto;
       /*altura*/
   }

   header nav ul {
       /*estilização da ul (lista não ordenada)*/
       display: flex;
       /* torna a lista não ordenada em flex, deixando os itens lado a lado*/
   }

   header nav ul li {
       /*estilização do li*/
       list-style: none;
       /*estilo da lisa desabilitada*/
       margin-right: 10px;
       /*espaço entre os  li*/
   }

   header nav ul li a {
       /*estilização da ancora*/
       text-decoration: none;
       /*decoração do texto (sublinhado) desabilitado (none) */
       color: black;
       /*cor da letra*/
   }

   header nav ul li:hover {
       /*o hover permite que o elemento na qual está trabalhando tenha alguma ação ao passar o mouse*/
       color: white;
       transition: 1s;
   }

   header nav ul li a:hover {
       /*o hover permite que o elemento na qual está trabalhando tenha alguma ação ao passar o mouse*/
       background-color: brown;
       transition: 1s;
   }

   /* qndo for trabalhar com o hover, trabalha com o transition */

   .section-01 {
       padding: 300px;
       /*tamanho da sessão*/
       display: flex;
       /*dxa a sessão flex*/
       justify-content: center;
       /*justificação do conteúdo*/
       align-items: center;
       /*alinha os itens no centro*/
       background-size: cover;
       /*p imagem usar todo o espaço disponível*/
       background-image: url(imagens/sunflowers-8351807_1280.jpg);
       /*imaem no fundo*/
       background-position: center;
       /*posicionamento da imagem*/
       background-repeat: no-repeat
           /*repetição da imagem*/
   }

   .section-01 button {
       width: 150px;
       /*largura do notão*/
       height: 40px;
       /*altura do botão*/
       border-radius: 10px;
       /*arredondamento da borda*/
       background-color: transparent;
       /*cor do fundo*/
   }

   /*usando o hover, qndo passar o mouse no butoon, ele vai mudar de cor*/
   /* o último elemento do caminho da rota é o elemento q a gnt vai mexer */
   .section-01 button:hover {
       /*o hover permite que o elemento na qual está trabalhando tenha alguma ação ao passar o mouse*/
       background-color: #fbea80;
       /*cor de dentro do botão*/
       transition: 1s;
       /* usado p cor do botão demorar a aparecer (transição)*/
       color: white;
       /*qndo passar o mouse, ele vai alterar a cor da caixinha*/
       cursor: pointer;
       /*muda o ngc do mouse, da setinha ele vai p maozinha (não é necessário)*/
   }

   .section-02 {
       padding: 250px;
       /*tamanho da sessão*/
       background-color: #fbea80;
       /*cor do fundo*/
       display: flex;

       align-items: center;
       /*alinha os itens*/
   }

   .section-02 img {
       width: 350px;
       /*largura*/
       height: auto;
       /*altura*/
   }

   /*usado p aumentar a imagem*/
   .section-02 img:hover {
       /*o hover permite que o elemento na qual está trabalhando tenha alguma ação ao passar o mouse*/
       width: 370px;
       /*tamanho da imagem*/
       transition: 1s;
       /*tmp demorado p ngc aparecer (transição*/
       cursor: pointer;
       /*muda o ngc do mouse, da setinha ele vai p maozinha*/
   }

   .section-02 h2 {
       color: black;
       /*largura do botão*/
       font-size: 34px;
       /*altura do botão*/
   }

   .section-02 p {
       color: black;
       /*cor da letra*/
       font-size: 17px;
       font-weight: 900;
       margin-top: 15px;
   }

   .section-03 {
       padding: 250px;
       /*tamanho da sessão*/
       background-image: url(imagens/flower-1754823_1920.jpg);
       background-repeat: no-repeat;
       /*repetição da imagem*/
       background-size: cover;
       /*preenchimento total da imagem*/
       background-position: center;
       /*posição da imagem*/
   }

   .section-03 img {
       width: 450px;
       /*largura*/
       height: auto;
       /*altura*/
   }

   .section-03 h2 {
       color: black;
       font-size: 30px;
   }

   .section-03 p {
       color: black;
       font-size: 15px;
       font-weight: 900;
       margin-top: 15px;
   }

   .section-03 {
       padding: 250px;
       /*tamanho da sessão*/
       background-image: url(imagens/flower-1754823_1920.jpg);
       /*imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
       background-size: cover;
       background-attachment: fixed;
       background-position: center;
       /*posição da imagem*/
   }

   .section-03 p {
       display: flex;
       /*dxa a sessão flex*/
       justify-content: center;
       /*justifica o conteúdo*/
       color: black;
       /*cor da letra*/
       font-size: 20px;
       /*tamanho da letra*/
   }

   .section-03 h2 {
       display: flex;
       /*dxa sessão flex*/
       justify-content: center;
       /*justifica do conteúdo*/
       color: black;
       /*cor da letra*/
       font-size: 25px;
       /*tamanho da letra*/
       font-weight: bold;
   }

   footer {
       padding: 25px;
       /*tamanho da sessão*/
       background-color: #fbea80;
   }

   footer nav ul {
       display: flex;
       /*dxa os ngc lado a lado*/
       justify-content: center;
   }

   footer nav ul li {
       margin-right: 10px;
   }

   footer nav ul li a {
       color: black;
       /*cor da letra*/
       text-decoration: none;
       /*decoração do texto*/
       font-weight: 300px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       /*ngc da letra*/
   }

   /*usado p mudar a cor da lista*/
   footer nav ul li a:hover {
       /*o hover permite que o elemento na qual está trabalhando tenha alguma ação ao passar o mouse*/
       background-color: blue;
       transition: 1s;
       /*transição*/
   }


   header i {
       /*estilização ícone*/
       color: white;
       /*color - cor do ícone*/
       font-size: 40px;
       /*font-size - tamanho do ícone*/
       background-color: gray;
       /*cor do fundo do elemento*/
       padding: 15px;
       /*preenchimento da cor de fundo*/
       border-radius: 10px;
       /*arredondamento da caixa*/
   }

   header i:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       background-color: blueviolet;
       /*cor do fundo alterada*/
       transition: 0.7s;
       /*transição do elemento*/
   }





   /* ESTILIZAÇÃO TELA 2 */

   .section-tela2 {
       background-image: url(imagens/sunflower-832793_1280.jpg);
       padding: 350px;
       /*tamanho da sessão*/
       background-position: bottom;
       /*posção da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
       background-size: cover;
       font-family: Georgia, 'Times New Roman', Times, serif;
       /*fonte*/
   }


   .section-tela2 p {
       font-size: 25px;
       color: white;
       font-weight: 700;
       background-color: gray;
   }


   .section-tela2 span {
       color: #fbea80;
       font-weight: bold;
   }

   .section-20 {
       /*preenchimento da sessão*/
       font-size: 15px;
       align-items: center;
       padding: 250px;
       background: linear-gradient(190deg, #1a0cdb 8.33%, #3b71e6 100%);
       /*cor de fundo*/
   }


   /* div pai - dentro dele existe 3 caixas */
   .div-pai {
       display: flex;
       /*tornando os itens flex, deixando as caixas lado a lado*/
       justify-content: center;
       /*justificando os itens ao centro*/
       margin-bottom: 30px;
       /*espaçamento entre as div */
   }


   /* estiização das caixas (div filho) */
   .div-pai div {
       width: 150px;
       /*largura da caixa*/
       height: 250px;
       /*altura da caixa*/
       background-color: black;
       /* cor de fundo */
       margin-left: 40px;
       /* espaçamento entre as caixas*/
       border-radius: 10px;
       /*arredondamento da borda*/
   }

   .div-pai .div-filho1 {
       background-image: url(imagens/flower-4476373_1280.jpg);
       /*imagem*/
       background-size: cover;
       /*faz com que a imagem de fundo cubra toda a area da sessão*/
       background-position: center;
       /*posição da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
   }

   .div-pai .div-filho1:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       width: 210px;
       /*largura da caixa*/
       height: 290px;
       /*altura da caixa*/
       transition: 1s;
       /*transição*/
       border-radius: 30px;
       /*arredondamento da borda*/
   }


   .div-pai .div-filho2 {
       background-image: url(imagens/sunflower-1621990_1280.jpg);
       /*imagem*/
       background-size: cover;
       /*faz com que a imagem de fundo cubra toda a area da sessão*/
       background-position: center;
       /*posição da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
   }


   .div-pai .div-filho2:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       width: 210px;
       /*largura da caixa*/
       height: 290px;
       /*altura da caixa*/
       transition: 1s;
       /*transição*/
       border-radius: 30px;
       /*arredondamento da borda*/
   }

   .div-pai .div-filho3 {
       background-image: url(imagens/sunflower-8396488_1280.jpg);
       /*imagem*/
       background-size: cover;
       /*faz com que a imagem de fundo cubra toda a area da sessão*/
       background-position: center;
       /*posição da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
   }

   .div-pai .div-filho3:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       width: 210px;
       /*largura da caixa*/
       height: 290px;
       /*altura da caixa*/
       transition: 1s;
       /*transição*/
       border-radius: 30px;
       /*arredondamento da borda*/
   }

   /* div pai - dentro dele existe 3 caixas */
   .div-pai2 {
       display: flex;
       /*tornando os itens flex, deixando as caixas lado a lado*/
       justify-content: center;
       /*justificando os itens ao centro*/
       margin-bottom: 30px;
       /*espaçamento entre as div*/

   }

   /* estiização das caixas (div filho) */
   .div-pai2 div {
       width: 150px;
       /*largura da caixa*/
       height: 250px;
       /*altura da caixa*/
       background-color: aqua;
       /*cor de fundo da caixa*/
       margin-left: 40px;
       /* espaçamento entre as caixas*/
       border-radius: 10px;
       /*arredondamento da borda*/
   }


   .div-pai2 .div-filho4 {
       background-image: url(imagens/sunflower-4799169_1280.png);
       /*imagem*/
       background-size: cover;
       /*faz com que a imagem de fundo cubra toda a area da sessão*/
       background-position: center;
       /*posição da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
   }

   .div-pai2 .div-filho4:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       width: 210px;
       /*largura da caixa*/
       height: 290px;
       /*altura da caixa*/
       transition: 1s;
       /*transição*/
       border-radius: 30px;
       /*arredondamento da borda*/
   }


   .div-pai2 .div-filho5 {
       background-image: url(imagens/sunflower-148705_1280.png);
       /*imagem*/
       background-size: cover;
       /*faz com que a imagem de fundo cubra toda a area da sessão*/
       background-position: center;
       /*posição da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
   }

   .div-pai2 .div-filho5:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       width: 210px;
       /*largura da caixa*/
       height: 290px;
       /*altura da caixa*/
       transition: 1s;
       /*transição*/
       border-radius: 30px;
       /*arredondamento da borda*/
   }


   .div-pai2 .div-filho6 {
       background-image: url(imagens/sunflower-3555239_1280.jpg);
       /*imagem*/
       background-size: cover;
       /*faz com que a imagem de fundo cubra toda a area da sessão*/
       background-position: center;
       /*posição da imagem*/
       background-repeat: no-repeat;
       /*repetição da imagem*/
   }

   .div-pai2 .div-filho6:hover {
       /* hover - aplicando o efeito ao passar o mouse*/
       width: 210px;
       /*largura da caixa*/
       height: 290px;
       /*altura da caixa*/
       transition: 1s;
       /*transição*/
       border-radius: 30px;
       /*arredondamento da borda*/
   }

   .section-30 {
       padding: 70px;
       /*tamanho da sessão*/
       background-color: #fbea80;
       /*cor de fundo*/
       display: flex;
       /*dxa os ngc lado a lado*/
       justify-content: space-between;
   }

   .div-titulo {
       color: azure;
       margin: 30px;
       /*altera todos os lados ao msm tmp*/
       font-size: 25px;
   }

   .div-titulo p {
       color:black;
       margin: 30px;
       font-size: 20px;
       font-weight: 400 ;
   }

   .div-iframe iframe {
    border-radius: 10px;
    margin-right: 30px;
   }
 

   .rodapé {
    padding: 100px;
    background-color:#f1f1c1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   }

   .div-line img {
    width: 150px;

   }